* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;

}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    transition: 0.3s;
}

nav ul li:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
    
}

.col-2 img {

    max-width: 100%;
    padding: 50px 0;
    
}

.col-2 h1 {
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover {
    background: #b14ca9;
    transform: scale(1.1);
}

.header {
    background: radial-gradient(#ffd6d6, #ffd6d6);
}

.header .row {
    margin: 70px;
}

.categories {
    margin: 70px;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 {
    font-size: 14px;
}

.rating {
    color: #ff523b;
}

.col-4:hover {
    transform: translateY(-5px);
}

.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555;
}

/*testimonial*/

.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20x;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.4s;
    max-width: 25ch;
    padding: 0 40px 0 40px;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.testimonial .col-3 img {
    text-align: center;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.fa.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #555;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*brands*/

.brands {
    margin: 50px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 90px;

    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}

/*footer*/
.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 70%;
    height: 70%;
    border-radius: 10px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background-color: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.menu-icon {
    width: 40px;
    margin-left: 20px;
    display: none;
    padding-bottom: 7px;
}

/*All products*/
.row-2 {
    justify-content: space-between;
    margin: 100px auto 10px;
}

select {
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 2px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #ff523b;
    color: white;
}

/*Odporucane produkty*/
.products a:hover {
    text-decoration: none;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}

.product {
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
    padding: 23px;
    

}

.product-img {
    max-width: 350px;
    max-height: 240px;
    object-fit: cover;
    object-position: center;
    margin-right: 15px;
 }

.product:hover {
    transform: scale(0.9);
}

.product-title {
    color: #555;
    font-weight: normal;
    padding-top: 20px;
    text-align: center;
}

/*Single products details*/

.single-product {
    margin-top: 80px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

input:focus {
    outline: none;
}

.single-product .fa {
    color: #ff523b;
    margin-left: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

/*cart items*/
.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: white;
    background: #ff523b;
    font-weight: normal;
}

td {
    padding: 10px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #ff523b;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

/*account-page*/
.account-page {
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}

.form-container {
    background: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: 1s;
}

form input , .admin select {
    border: 1px solid #ccc;
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0;
}

form a {
    font-size: 12px;
}

#Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: 1s;
}

/*media query for menu*/
@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0%;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin: 10px 50px 10px 0;

    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

/*media query for less than 600 screen size*/
@media only screen and (max-width: 800px) {
    .row {
        text-align: center;
        flex-basis: 100%;
    }

    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }

    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }

    .cart-info p {
        display: none;
    }
}

/*admin page*/
.adminTitle{
    text-align: center;
    padding: 20px;
}

.adminTitle h1{
    text-shadow: #ff523b 4px 0 10px;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminForm{
    display: flex;
}
.contact-box{
    color: white;
    width: 100%;

justify-content: center;
align-items: center;
}
.admin-form {
    border-top: 5px solid #ff523b;
    color: black;
    text-align: center;
    background-color: white;
    box-shadow: 0 30px 60px 0 rgba(68, 114, 170, 0.555);
    max-width: 500px;
    margin-bottom: 50px;
    border-radius: 20px;
}
#color_id
{
   color: rgb(118, 118, 118)  
}
.admin {
    padding: 25px 40px;
}

.admin label {
    float: left;
    margin-top: 22px;
    font-weight: bold;
}

.admin input, .admin select{
    border: solid 2px black;
}

.admin h1 {
    color: black;
}

#btn {
    width: 50%;
    padding: 10px;
    background-color: #ff523b;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 25px;
}

#btn:hover {
    background-color: gray;
}

/*about*/
.about-section
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:end;
    background-color: white;
    background: url(img/aboutpic.png) no-repeat left;
    
    background-size: 55%;
    background-color: #f6e4e4;
    overflow: hidden;
    
    
}
.inner-container 
{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 100px;
    margin-left: 70px;
    border-radius: 10px;
    
    
}
.inner-container h1
{
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 900;
}
.text
{
    font-size: 14px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills
{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 15px;
}
@media screen and (max-width:1200px) 
{
    .inner-container
    {
        padding: 80px;
    }
}
@media screen and (max-width:1000px) 
{
    .about-section
    {
        background-size: 100%;
        padding: 100px 40px;
    }


    .inner-container
    {
       width: 100%;
    }
}
@media screen and (max-width:600px) 
{
    .about-section
    {
        padding: 0;
    }


    .inner-container
    {
       padding: 60px;
    }
    
}

.title::after
{
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*Slider*/
.slide-container {
    width: 100%;
    padding: 40px 0;
}
#rectext 
{
    height: 5rem;
    width: 15rem;
}
#nictext
{
    
    width: 15rem;
}
.btnrec
{
    
    height: 2em;
    width: 15rem;
    font-family: 'Poppins', sans-serif;

}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.card-content h2{
    margin: 0;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.card-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(75, 75, 227);
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: rgb(75, 75, 227);
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #ffd6d6;
}

.card {
    border-radius: 25px;
    background-color: #ffd6d6;
}

.card-image {
    position: relative;
    height: 200px;
    width: 180px;
}
.description .input
{
    height: 20px;
}


.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid black;
}

.swiper-navBtn {
    color: rgb(75, 75, 227);
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: rgb(25, 25, 109);
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-pagination-bullet {
    background-color: rgb(75, 75, 227);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: rgb(25, 25, 109);
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}

/* contact + faq */
.form {
    background: #fff;
    margin-top: 30px;
    box-shadow: 0 30px 60px 0 rgba(68, 114, 170, 0.555);
    border-radius: 5px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 50px;
  
    border-top: 5px solid #ff523b;
  /*   z-index: 1; */
    animation: bounce 1.5s infinite;
  }
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  
  .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
  }
  .termsConditions{
    margin: 0 auto 5px 80px;
  }
  
  .pageTitle{
    font-size: 2em;
    font-weight: bold;
  }
  .secondaryTitle{
    color: grey;
  }
  
  .name {
    background-color: #ebebeb;
  }
  .name:hover {
    border-bottom: 5px solid #ff523b;
    transition: ease 0.5s;
  }
  
  .email {
    background-color: #ebebeb;
  }
  
  .email:hover {
    border-bottom: 5px solid #ff523b;
    transition: ease 0.5s;
  }
  
  .message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
  }
  
  .message:hover {
    border-bottom: 5px solid #ff523b;
    transition: ease 1s;
  }
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: ease 2s;
    width: 50%;
  }
  
  .submit {
    width: 200px;
    color: white;
    background-color: #ff523b;
    font-size: 20px;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #0e3750;
    border-radius: 0%;
  }
  
  @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
      
    }
    50% {
      transform: translate(0, 8px);
    }
  } 
  
  /*FaQ*/
  h2 {
    margin: 20px auto 40px;
    font-size: 23px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
  }
  
  details {
    width: 75%;
    min-height: 5px;
    max-width: 800px;
    padding: 25px 40px 25px 25px;
    margin: 0 auto;
    position: relative;
    font-size: 18px;
    border: 2px solid rgba(0, 0, 0, 0.602);
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s;
  }
  
  details + details {
    margin-top: 20px;
  }
  
  details[open] {
    min-height: 50px;
    background-color: #f6f7f8;
    box-shadow: 2px 2px 20px rgba(0,0,0,.2);
  }
  
  details p {
    color: #96999d;
    font-weight: 300;
  }
  
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  
  summary:focus {
    outline: none;
  }
  
  summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 3px rebeccapurple;
    border-radius: 15px;
  }
  
  summary::-webkit-details-marker {
    display: none
  }
  
  .control-icon {
    fill: rebeccapurple;
    transition: .3s ease;
    pointer-events: none;
    border-radius: 22px;
  }
  
  .control-icon-close {
    display: none;
  }
  
  details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
  }
  
  details[open] .control-icon-expand {
    display: none;
  }
  
  .faq{
    background: #fff;
    margin-top: 30px;
    box-shadow: 0 30px 60px 0 rgba(68, 114, 170, 0.555);
    border-radius: 5px;
    max-width: 600px;
    height: 569px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 5px solid #ff523b;
    animation: bounce 1.5s infinite;
    margin-bottom: 50px;
    transition: all 0.8s ease 0.5s;
    overflow: scroll;
  }

/*searchbar*/

  
  
  
  